<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" name="SanitySuiteTest">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
    <!--<class name="com.ZerodahTest.TC01LoginFunctionality"/>
      <class name="com.ZerodahTest.TC02ShareAddToWatchlist"/>
      <class name="com.ZerodahTest.TC03LogoutFunctionality"/>-->
      <class name="com.ZerodahTest.TC04ShareBuyIntraday"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
